{% extends 'base.html' %}
{% load static %}

{% block title %}
{% endblock title %}

{% block content %}

<main>
    <h1>Accounts</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Number of Receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for item in account.all %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.number }}</td>
                <!-- #below we have to use our foreign key 
                 so we can figure out how our name is related 
                 to number of receipts  -->
                <td>{{ item.receipts.all|length }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}